#header img{
    width: 80px;
}
#damian{
    background-image: url(./img/art-1209519_1920\(1\).jpg);
    
}
.container .row .col img{
    width: 100%;
    border-radius: 50%;
}
#back{
    padding-top: 80px;
}
#color{ 
    display: grid;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
   

}
#Footer
{
    background: rgb(33,24,182);
    background-image: linear-gradient(to bottom, #1f1717, #2d272b, #39393f, #454c51, #555f60);   
}
#Footer .container .row a{
    color: white;
}