#header img{
    width: 80px;
  }
  .accordion-header{
    padding: 12px;
  }
  .FAQ{
    padding-top: 110px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-bottom: 18rem;
      background-image: url(./img/art-1209519_1920\(1\).jpg);
      background-position: center;
      background-attachment: fixed;
      background-size: cover; 
  }
  .titulo{
    font-size: 4rem;
    -webkit-text-stroke: 2px black;
    color: transparent; 
  }
  #accordionFlushExample{
    margin-left: 40px;
    margin-right: 40px;
  }

  .FAQ h1{
    color: white;
  }
  .bg-primary{
    background-color: violet;
  }
  #Footer{
    background: rgb(33,24,182);
    background-image: linear-gradient(to bottom, #1f1717, #2d272b, #39393f, #454c51, #555f60);
}
#Footer .container .row a{
  color: white;
}